{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="home-container">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-column">
            <img src="/media/home-img-8.jpg" class="img-fluid">
            <img src="/media/home-img-1.jpg" class="img-fluid">
        </div>
        
        <div class="d-flex flex-column">
            <img src="/media/home-img-4.jpg" class="img-fluid">
            <img src="/media/home-img-5.jpg" class="img-fluid scale">
        </div>
        
        <div class="d-flex flex-column">
            <img src="/media/home-img-6.jpg" class="img-fluid scale mb-2">
            <img src="/media/home-img-3.jpg"  class="img-fluid">
        </div>
        
        <div class="d-flex flex-column">
            <img src="/media/home-img-2.jpg" class="img-fluid m-1 p-1">
              <img src="/media/home-img-7.jpg" class="img-fluid image m-1 p-1">
        </div>
    </div>
</div>
{% endblock %}