{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="home-container">
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="d-flex flex-column">
            <img src="{{ MEDIA_URL }}home-img-8.avif" alt="neon spinning vinyl record" class="img-fluid">
            <img src="{{ MEDIA_URL }}home-img-1.avif" alt="man holding a vinyl record" class="img-fluid">
        </div>
        
        <div class="d-flex flex-column">
            <img src="{{ MEDIA_URL }}home-img-4.avif" alt="girl sitting down looking at vinyl recrord" class="img-fluid">
            <img src="{{ MEDIA_URL }}home-img-5.avif" alt="hand picking out a vinyl recrord from a shelf of records" class="img-fluid scale">
        </div>
        
        <div class="d-flex flex-column">
            <img src="{{ MEDIA_URL }}home-img-6.avif" alt="stacked vinyl recrords in a row" class="img-fluid scale mb-2">
            <img src="{{ MEDIA_URL }}home-img-3.avif" alt="dj playing on vinyl"  class="img-fluid">
        </div>
        
        <div class="d-flex flex-column">
            <img src="{{ MEDIA_URL }}home-img-2.avif" alt="2 neon vinyl recrords " class="img-fluid m-1 p-1">
              <img src="{{ MEDIA_URL }}home-img-7.avif" alt="vinyl recrord shop" class="img-fluid image m-1 p-1">
        </div>
    </div>
</div>
{% endblock %}