{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Credit in readme-->
<div class="container">
    <div class="row gallery">
        <div class="col-6 offset-1 image-container">
            <a href="">
                <img src="{{ MEDIA_URL }}home-img-4.jpg" alt="Girl browsing vinyl in a record shop" class="gallery-lg-img image">
            </a>
            <div class="image-grid-hover">
                <div>
                    <h1 class="gallery-header text-black">ESSENTIAL PICKS</h1>
                    <span class="gallery-sub-header">The hottest records right here</span>
                    <div class="mt-2">
                        <a href="{% url 'products' %}" class="btn btn-sm gallery-btn text-white">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
                <a href="">
                    <img src="{{ MEDIA_URL }}img-gallery-4.jpg" alt="A stack of vinyl records propt up by headphones" class="gallery-sm-img">
                </a>
                <a href="">
                    <img src="{{ MEDIA_URL }}img-gallery-5.jpg" alt="People shopping in a record store" class="gallery-sm-img">
                </a>
        </div>
    </div>
    <div class="row gallery">
        <div class="col-4 offset-1">
            <a href="">
                <img src="{{ MEDIA_URL}}img-gallery-6.jpg" alt="People dancing" class="gallery-sm-img">
            </a>
            <a href="">
                <img src="{{ MEDIA_URL }}img-gallery-2.jpg" alt="A dj playing vinyl records" class="gallery-sm-img">
            </a>
        </div>
        <div class="col-6 image-container">
            <a href="">
                <img src="{{ MEDIA_URL }}img-gallery-3.jpg" alt="Neon sign that reads 'music for the people'" class="gallery-lg-img image">
            </a>
            <div class="image-grid-hover">
                <div>
                    <h1 class="gallery-header text-black">LETS DANCE</h1>
                    <span class="gallery-sub-header text-black">Come check out our events</span>
                    <div class="mt-2">
                        <a href="{% url 'blog' %}" class="btn btn-sm gallery-btn text-white">Lets go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}