@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Squada+One&display=swap');

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F0E3;
}

h1 {
   font-family: 'Squada One', cursive;
}

.text-white {
    color: whitesmoke !important;
}

.text-black {
  color: #000;
}

.border-white {
    border: 1px solid whitesmoke !important;
}

.bg-black {
    background: #000 !important;
}

.bg-orange {
    background: #ff914d !important;
}

.btn-white {
    color: whitesmoke !important;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.main-logo-link {
    width: fit-content;
}

#logo {
  width: 300px;
  height: 100px;
}

#delivery-banner {
    font-family: 'Squada One', cursive;
}

/* stroke- main nav */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.dropdown-menu {
  background-color: #ff914d;
}

/* stroke- top header */
#topnav ul li a {
  position: relative;
}
#topnav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
#topnav ul li a:hover:after {
  width: 100%;
}

i:hover {
  color: #ff914d;
}

i {
  color: white;
}

.card {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 15px;
  box-shadow: 1px 1px 10px #000;
  background-color: #ff914d;
}

.card-footer {
  background-color: #ff914d;
}

.card-img-top {
  box-shadow: 1px 1px 10px #000;
}

a.genre-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

/* Gallery credit in readme */
.gallery img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-sm-img {
  height: 200px;
  margin-bottom: 20px;
}

.gallery-lg-img {
  height: 425px;
}

.image-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-grid-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.4;
}

.image-container:hover .image-grid-hover {
  opacity: 1;
}

.gallery-header {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-size: 4.6rem;
}

.gallery-btn {
  text-transform: uppercase;
  background-color: black;
}

.gallery-btn:hover {
  background-color: #ff914d;
}

.keep-shopping-btn {
  background-color: black;
}

.keep-shopping-btn:hover {
  background-color: #ff914d;
}

#keep-shopping-icon-detail:hover {
  color: white;
}

.add-to-bag-btn {
  background-color: black;
}

.add-to-bag-btn:hover {
  background-color: #ff914d;
}

.secure-checkout-btn {
  background-color: black;
}

.secure-checkout-btn:hover {
  background-color: #ff914d;
}

#secure-checkout-icon:hover {
  color: white;
}



/* Media Queries */
@media (max-width: 425px) {
  .gallery-sm-img {
      height: 100px;
      margin-bottom: 10px;
  }

  .gallery-lg-img {
      height: 210px;
  }

  .gallery-header {
      font-size: 1.7rem;
  }

  .gallery-sub-header {
      font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .gallery-header {
      font-size: 2.2rem;
  }
}

