@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Squada+One&display=swap');

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F0E3;
}

h1 {
   font-family: 'Squada One', cursive;
}

.text-white {
    color: whitesmoke !important;
}

.text-orange {
  color: #ff914d;
}

.text-black {
  color: #000;
}

.border-white {
    border: 1px solid whitesmoke !important;
}

.bg-black {
    background: #000 !important;
}

.bg-orange {
    background: #ff914d !important;
}

.btn-white {
    color: whitesmoke !important;
}

.flex-column {
    max-width: 260px;
}

img {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.main-logo-link {
    width: fit-content;
}

#logo {
  width: 300px;
  height: 100px;
}

#delivery-banner {
    font-family: 'Squada One', cursive;
}

/* stroke- main nav */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.dropdown-menu {
  background-color: #ff914d;
}

/* stroke- top header */
#topnav ul li a {
  position: relative;
}
#topnav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
#topnav ul li a:hover:after {
  width: 100%;
}

i:hover {
  color: #ff914d;
}

i {
  color: white;
}

.card {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 15px;
  box-shadow: 1px 1px 10px #000;
  background-color: #ff914d;
}

.card-footer {
  background-color: #ff914d;
}

.card-img-top {
  box-shadow: 1px 1px 10px #000;
}

a.genre-badge > span.badge:hover {
  background: #212529 !important;
  color: #fff !important;
}

/* Gallery credit in readme */
.gallery img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-sm-img {
  height: 200px;
  margin-bottom: 20px;
}

.gallery-lg-img {
  height: 425px;
}

.image-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-grid-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.4;
}

.image-container:hover .image-grid-hover {
  opacity: 1;
}

.gallery-header {
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  font-size: 4.6rem;
}

.gallery-btn {
  text-transform: uppercase;
  background-color: black;
}

.gallery-btn:hover {
  background-color: #ff914d;
}

.keep-shopping-btn {
  background-color: black;
}

.keep-shopping-btn:hover {
  background-color: #ff914d;
}

#keep-shopping-icon-detail:hover {
  color: white;
}

.add-to-bag-btn {
  background-color: black;
}

.add-to-bag-btn:hover {
  background-color: #ff914d;
}

.secure-checkout-btn {
  background-color: black;
}

.secure-checkout-btn:hover {
  background-color: #ff914d;
}

#secure-checkout-icon:hover {
  color: white;
}

#keep-shopping-icon-bag-empty {
  color: white;
}

#keep-shopping-icon-bag {
  color: white;
}

.update-link,
.remove-item {
  cursor: pointer;
}

.bag-total-text,
.grand-total-text {
  font-size: 1.5rem;
}


/* Toast Credit  */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d; 
}

.allauth-form-inner-content input {
  border-color: black;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.all-auth-btn {
  background-color: black;
  text-transform: uppercase;
}

.all-auth-btn:hover{	
  background-color:#ff914d;
}

.allauth-form-inner-content a {
color: #17a2b8; 
}

.cancel-add-product-btn {
  background-color: #000;
}

.add-product-btn {
  background-color: #000;
}

.cancel-add-product-btn:hover {
  background-color: #ff914d;
}

.add-product-btn:hover {
  background-color: #ff914d;
}

.cancel-edit-product-btn {
  background-color: #000;
}

.cancel-edit-product-btn:hover {
  background-color: #ff914d;
}

.udpate-product-btn {
  background-color: #000;
}

.udpate-product-btn:hover {
  background-color: #ff914d;
}

.edit-btn {
  background-color: #000;
}

.delete-btn {
  background-color: #000;
}

.delete-btn:hover {
  background-color: #dc3545;
}

.edit-btn:hover {
  background-color: #007bff;
}

.rewind-btn {
  background-color: black;
}

.rewind-btn:hover {
  background-color: #ff914d;
}

#sad-face-icon {
  color: black;
}

#sad-face-icon:hover {
  color: black;
}

.post-img {
  height: 50vh;
  min-height: 100%;
  width: 100%;
}

.event-detail-btn {
  background-color: #000;
}

.event-detail-btn:hover {
  background-color: #ff914d;
}

.back-to-events-btn {
  background-color: black;
}

.back-to-events-btn:hover {
  background-color: #ff914d;
}

#back-to-events-icon:hover {
  color: white;
}

.post .content {
  margin-top: 3rem!important;
}

.post .info {
  text-transform: uppercase;
  font-size: .7rem;
}

.intro {
  font-size: .9rem;
}

.post .info span {
  margin-right: .7rem;
}

.post .read {
  font-weight: 900;
  color: var(--nav-bg);
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-decoration: none;
}

footer {
  font-size: 1.2rem;
  padding: 20px;
}

.add-comment-btn {
  background-color: #000;
  border-radius: 2px;
}

.add-comment-btn:hover {
  border-color: white;
}

#user-comment-icon:hover {
  color: black;
}

/* Media Queries */
@media (max-width: 425px) {
  .gallery-sm-img {
      height: 100px;
      margin-bottom: 10px;
  }

  .gallery-lg-img {
      height: 210px;
  }

  .gallery-header {
      font-size: 1.7rem;
  }

  .gallery-sub-header {
      font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .gallery-header {
      font-size: 2.2rem;
  }
}

