<div class="collapse navbar-collapse shift" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}">Shop</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'blog' %}">Events</a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}">About</a>
        </li>
    </ul>
</div>