{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="text-black">Events</h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="post col-lg-6 col-md-12 my-5">
            <div class="post-img">
                {% if post.image %}
                <a href="{% url 'post_detail' post.slug %}">
                    <img style="width: 100%; height: 100%; object-fit:cover;" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}">
                </a>
                {% else %}
                <a href="{% url 'post_detail' post.slug %}">
                    <img style="width: 100%; height: 100%; object-fit:cover;" src="{{ MEDIA_URL }}no-image-event.jpg" alt="{{ post.title }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="post col-lg-6 col-md-12">
            <div class="content py-5">
                <p class="info">
                    <span><i class="fa fa-user text-black"></i>{{ post.author|upper }}</span>
                    <span><i class="fa fa-calendar-alt text-black"></i> {{ post.event_date }}</span>
                    <span><i class="fas fa-comment text-black"></i> {{ post.comments.count }}</span>
                </p>
                <a class="text-reset" href="{% url 'post_detail' post.slug %}">
                    <h2>{{ post.title }}</h2>
                </a>
                <div class="py-5">
                    <a href="{% url 'post_detail' post.slug %}" class="btn text-white text-uppercase event-detail-btn btn-lg">Event Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}