{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0"><strong>Title:</strong> {{ product.name }}</p>
                <p class="mb-0"><strong>Artist:</strong> {{ product.artist }}</p>
                <p class="mb-0"><strong>Price:</strong> £{{ product.price }}</p>
                <p class="mb-0"><strong>Genre:</strong> {{ product.genre.friendly_name }}</p>
                <p class="mb-0"><strong>Release Year:</strong> {{ product.release_year }}</p>
                <p class="mb-0"><strong>Label:</strong> {{ product.record_label }}</p>
                <p class="mb-0"><strong>Catalogue Number:</strong> {{ product.sku }}</p>
                {% if request.user.is_superuser %}
                <hr>
                <small class="mb-0 text-left">
                    <a class="btn-sm text-white text-uppercase edit-btn" href="{% url 'edit_product' product.id %}">Edit</a>
                    <a href="#delete-product" class="btn-sm text-white text-uppercase delete-btn ml-2" data-toggle="modal" data-target="#delete-product" aria-label="Link to delete product modal">Delete</a>
                </small>
                <div class="modal fade" id="delete-product" tabindex="-1" role="dialog" aria-label="Confirm delete product modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold" aria-label="Product name heading">{{ product.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="color: black;">Are you sure you want to delete this product?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger" aria-label="Link to delete product">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr>
                <p class="mt-3"><strong>Description:</strong> {{ product.description }}</p>
                <hr>
                <p class="mt-3"> <strong>Vinyl LP:</strong> 12'' Record / Full-Colour Label / Full-Colour Sleeve.</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <!-- Credit quantity selector (https://stackoverflow.com/questions/37559963/how-to-retain-select-option-value-after-submit-in-django) -->
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <select class="form-control form-select mx-auto" name="quantity" data-product_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                        <option value="1" {% if item.quantity == 1 %}selected{% endif %}>1
                                        </option>
                                        <option value="2" {% if item.quantity == 2 %}selected{% endif %}>2
                                        </option>
                                        <option value="3" {% if item.quantity == 3 %}selected{% endif %}>3
                                        </option>
                                        <option value="4" {% if item.quantity == 4 %}selected{% endif %}>4
                                        </option>
                                        <option value="5" {% if item.quantity == 5 %}selected{% endif %}>5
                                        </option>
                                        <option value="6" {% if item.quantity == 6 %}selected{% endif %}>6
                                        </option>
                                        <option value="7" {% if item.quantity == 7 %}selected{% endif %}>7
                                        </option>
                                        <option value="8" {% if item.quantity == 8 %}selected{% endif %}>8
                                        </option>
                                        <option value="9" {% if item.quantity == 9 %}selected{% endif %}>9
                                        </option>
                                        <option value="10" {% if item.quantity == 10 %}selected{% endif %}>10
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn keep-shopping-btn text-white rounded-0 mt-5 btn-lg">
                                <span>
                                    <i id="keep-shopping-icon-detail" class="fa-regular fa-hand-point-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn add-to-bag-btn rounded-0 text-uppercase text-white mt-5 btn-lg" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}